# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Automated-Question-Answer-Medical-Model-based-on-Deep-Learning-Technology\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
